/*CSS Content*/

/*1. Basic*/
/*2. Navigation Top*/
/*3. Intro*/
/*4. Heading*/
/*5. Onepage*/
/*6. CV Button Wide*/
/*7. About*/
/*8. Recent*/
/*9. Skills*/
/*10. Experience*/
/*11. Education, Certificates*/
/*12. Contacts*/
/*13. Mobile Navigation*/
/*14. Modal Page Recent Works*/
/*15. Optimized CSS for tablet portrait orientation*/
/*16. Optimized CSS for tablet landscape orientation*/
/*17. Optimized CSS for mobile portrait orientation*/
/*18. Optimized CSS for mobile landscape orientation*/
/*19. Animation*/


/*=============Basic=============*/

html,
body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8vmin;
    background-color: white;
}

h2,
h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 8vmin;
}

h3 {
    font-size: 7vmin;
}

.frame-scroll-top {
    display: none;
    width: 100%;
    height: 3vmin;
    position: fixed;
    background-color: #0a77f5;
    z-index: 2;
}

.frame-scroll-bottom {
    display: none;
    width: 100%;
    height: 3vmin;
    position: fixed;
    bottom:0;
    background-color: #0a77f5;
    z-index: 2;
}

.container-scroll {
    border: 3vmin solid #0a77f5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

/*=============Navigation Top=============*/

.nav-top {
    position: fixed;
    width: 100%;
    height: 7vmin;
    background-color: #0a77f5;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center; /*for IE*/
}

.nav-top a {
    margin: auto 3vmin auto 0;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.8vmin;
    position: relative;

    opacity: 0;
    animation-name: appearance;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.nav-top a:last-of-type {
    margin: auto 6vmin auto 0;
}

.nav-top a::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: -1vmin;
    background: white;
    height: 4px;
    transition: all 0.3s;
}

.nav-top a:hover::before {
    left: 0;
    right: 0;
}

.nav-top a:first-of-type {
    animation-delay: 1.7s;
}

.nav-top a:nth-of-type(2) {
    animation-delay: 1.8s;
}

.nav-top a:nth-of-type(3) {
    animation-delay: 1.9s;
}

.nav-top a:nth-of-type(4) {
    animation-delay: 2s;
}

.nav-top a:nth-of-type(5) {
    animation-delay: 2.1s;
}

.nav-top a:nth-of-type(6) {
    animation-delay: 2.2s;
}

/*=============Intro=============*/

.intro {
    display: flex;
    justify-content: center;
}

.intro-photo-icons {
    display: flex;
    flex-direction: column;
}

.intro-text-cv {
    display: flex;
    flex-direction: column;
}

.photo {
    background: url('../pic/photo.jpg') 50% 50% no-repeat;
    background-size: contain;
    width: 45vmin;
    height: 45vmin;
    border: 0 solid white;
    border-radius: 50%;
    margin: 21.5vmin 10vmin 4vmin auto;

    opacity: 0;
    animation-name: appearance;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.icons {
    width: 45vmin;
    height: 3.5vmin;
    margin: 3vmin 10vmin 17vmin auto;
    text-align: center;
}

.icons a,
.icons-mobile-nav-footer a {
    width: 3.5vmin;
    height: 3.5vmin;
    margin: 0 1vmin;
    display: inline-block;
}

.intro .icons a {
    opacity: 0;
    animation-name: appearance-rotate;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.icons a:hover {
    filter: drop-shadow(0 0vmin 0.5vmin #0a77f5);
    transition-duration: 0.2s;
}

.icon-inst {
    background: url('../pic/ic_inst.svg') no-repeat 50% 50%;

    animation-delay: 1.5s;
}

.icon-fb {
    background: url('../pic/ic_fb.svg') no-repeat 50% 50%;

    animation-delay: 1.4s;
}

.icon-twit {
    background: url('../pic/ic_twit.svg') no-repeat 50% 50%;

    animation-delay: 1.3s;
}

.icon-linkedin {
    background: url('../pic/ic_linkedin.svg') no-repeat 50% 50%;
}

.icon-behance {
    background: url('../pic/ic_behance.svg') no-repeat 50% 50%;
}

.icon-dribble {
    background: url('../pic/ic_dribbble.svg') no-repeat 50% 50%;
}

.icon-upwork {
    background: url('../pic/ic_upwork.svg') no-repeat 50% 50%;
}

.icons-tablet {
    display: none;
}

/*=============Heading=============*/

.text-heading {
    margin: auto auto 0 10vmin;
    max-width: 55vmin;
}

.text-heading h2 {
    font-size: 5vmin;
    line-height: 5vmin;

    opacity: 0;
    animation-name: appearance;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.text-heading h2:nth-child(2) {
    animation-delay: 0.2s;
}

.text-heading h2:last-child {
    text-transform: uppercase;
    font-weight: 400;

    animation-delay: 0.4s;
}

.text-heading h2 span {
    color: #0a77f5;
}

/*=============Onepage=============*/

.text-onepage {
    margin: 1vmin auto 3vmin 10vmin;
    max-width: 55vmin;
}

.text-onepage p {
    margin: 1.7vmin 0;
    padding: 0;
    line-height: 3.5vmin;

    opacity: 0;
    animation-name: appearance;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

.text-onepage p:first-of-type{
    animation-delay: 0.6s;
}

.text-onepage p:nth-of-type(2) {
    animation-delay: 0.7s;
}

.text-onepage p:nth-of-type(3) {
    animation-delay: 0.8s;
}

.text-onepage p:nth-of-type(4) {
    animation-delay: 0.9s;
}

.text-onepage p:nth-of-type(5) {
    animation-delay: 1s;
}

.text-onepage-btn {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 0 2vmin;
    background-color: #0a77f5;
    font-weight: 400;
    text-decoration: none;
    color: white;
    border: 1px solid #0a77f5; /*same color for background and border is made intentionally to prevent border shifting when hover effect applying to button*/
    border-radius: 4vmin;
    text-align: center;
    outline: none;
    align-self: center;
    z-index: 1;
    transition-duration: 0.3s;
}

.text-onepage-btn::before {
    content: '';
    position: absolute;
    z-index: -1;
    transition-duration: 0.3s;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    border-radius: 4vmin;
}

.text-onepage-btn:hover {
    color: #0a77f5;
}

.text-onepage-btn:hover::before,
.text-onepage-btn:active::before {
    width: 100%;
}

/*==============CV Button Wide===============*/

.container-cv-btn {
    margin: 1vmin auto auto 10vmin;
    width: 55vmin;
    display: flex;
}

.cv-button-wide {
    display: inline-block;
    height: 5.5vmin;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    padding: 1.25vmin 9vmin 1.25vmin 11vmin;
    font-size: 2.5vmin;
    background: #0a77f5 url('../pic/ic_arrow.svg') no-repeat 7vmin 50%;
    background-size: 2vmin;
    color: white;
    border: 1px solid #0a77f5;
    border-radius: 4vmin;
    text-align: center;
    outline: none;
    margin: auto;
    z-index: 1;
    transition-duration: 0.3s;

    opacity: 0;
    animation-name: appearance;
    animation-duration: 0.4s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}

.cv-button-wide::before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    border-radius: 4vmin;
}

.cv-button-wide:hover {
    color: #0a77f5;
}

.cv-button-wide:hover::before,
.cv-button-wide:active::before {
    width: 100%;
    background: white url('../pic/ic_arrow_blue.svg') no-repeat 7vmin 50%;
    background-size: 2vmin;
}

/*=============About=============*/

.about {
    background-color: #0a77f5;
    padding: 10vmin 0;
}

.about-container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    color: white;
}

.about h2 {
    margin: 0 15vmin 0 0;
    padding: 0;
}

.about p {
    line-height: 3.25vmin;
}

/*=============Recent=============*/

.recent {
    padding: 7vmin 0;
}

.recent-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

.recent h2 {
    padding: 0;
    color: #0a77f5;
    font-size: 7vmin;
    line-height: 7vmin;
}

.recent-img {
    display: flex;
    justify-content: center;
}

.recent-img-big {
    margin: 0 1% 0 0;
    background: url('../pic/recent-img-big.jpg') 50% 50% no-repeat;
    background-size: cover;
    width: 49%;
    height: 40vmin;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

.recent-img-small {
    margin: 0 0 0 1%;
    width: 49%;
    height: 40vmin;
    display: flex;
    flex-wrap: wrap;
}

.recent-img-small-top {
    width: 100%;
    height: 20vmin;
    background: url('../pic/recent-img-small-top.jpg') 50% 50% no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

.recent-img-small-bottom-1 {
    width: 49%;
    height: 19vmin;
    margin: 1vmin 1% 0 0;
    background: url('../pic/recent-img-small-bottom-1.jpg') 50% 50% no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

.recent-img-small-bottom-2 {
    width: 49%;
    height: 19vmin;
    margin: 1vmin 0 0 1%;
    background: url('../pic/recent-img-small-bottom-2.jpg') 50% 50% no-repeat;
    background-size: cover;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

.recent-img-big:hover,
.recent-img-small-top:hover,
.recent-img-small-bottom-1:hover,
.recent-img-small-bottom-2:hover {
    filter: brightness(1.1);
}

.icons-recent {
    width: auto;
    margin: 5vmin 0 5vmin auto;
    display: flex;
    justify-content: flex-end;
}

.icons-recent p {
    margin: 0 1.5vmin;
    padding-top: 0.5vmin;
}

.icons-recent a:last-child {
    margin-right: 0;
}

/*=============Skills=============*/

.skills {
    background-color: #0a77f5;
    color: white;
    padding: 10vmin 0;
}

.skills-container {
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #0a77f5;
    color: white;
}

.skills-tools,
.skills-languages,
.skills-skills {
    margin: 0 0 0 7vmin;
    padding-right: 5vmin;
    border-right: 1px solid white;
}

.skills div:last-of-type {
    border-right: none;
}

.skills h3 {
    margin: 0 0 3vmin 0;
    padding: 0 0 0 2.75vmin;
}

.skills ul {
    margin: 0;
    list-style: none;
    line-height: 4vmin;
    padding: 0 0 0 2.75vmin;
}

.list-skills li,
.list-languages li,
.list-tools li {
    position: relative;
}

.list-skills li::before,
.list-languages li::before {
    content: '';
    width: 2.5vmin;
    height: 1.25vmin;
    position: absolute;
    left: -5vmin;
    top: 0.5vmin;
    transform: rotate(-45deg);
    border: 1px solid white;
    border-top-style: none;
    border-right-style: none;
}

.list-tools li::before {
    content: '';
    width: 2.75vmin;
    height: 2.75vmin;
    position: absolute;
    left: -5.5vmin;
}

.list-tools-adobe::before {
    background: url('../pic/ic_adobe_white.svg') 0 bottom no-repeat;
}

.list-tools-sketch::before {
    background: url('../pic/ic_sketch_white.svg') 0 bottom no-repeat;
}

.list-tools-ux::before {
    background: url('../pic/ic_ux_white.svg') 0 bottom no-repeat;
}

.list-tools-pm::before {
    background: url('../pic/ic_pm_white.svg') 0 bottom no-repeat;
}

/*=============Experience=============*/

.experience {
    padding: 7vmin 0;
}

.experience h2 {
    width: 100%;
    color: #0a77f5;
    margin: 0;
    padding: 0;
}

.exp-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.exp-container div {
    width: 48%;
    margin-top: 2vmin;
}

.exp-time {
    color: #999999;
    margin-top: 2.75vmin;
}

.exp-container h4 {
    margin: 0 0 1vmin 0;
    padding: 0;
    font-size: 2vmin;
    font-weight: 700;
}

.exp-feature {
    position: relative;
    left: 5vmin;
}

.exp-feature::before {
    content: '';
    width: 2.5vmin;
    height: 1.25vmin;
    position: absolute;
    left: -5vmin;
    transform: rotate(-45deg);
    border: 1px solid #0a77f5;
    border-top-style: none;
    border-right-style: none;
}

/*=============Education, Certificates=============*/

.education,
.certificates {
    display: flex;
    padding: 7vmin 0;
    background-color: #0a77f5;
    color: white;
}

.certificates {
    padding-top: 0;
}

.edu-container,
.cert-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.education h2,
.certificates h2 {
    width: 48%;
    margin: 0 auto 3vmin 0;
    padding: 0;
}

.certificates h2 {
    width: 100%;
    padding-top: 3vmin;
    border-top: 1px solid white;
}

.edu-text {
    width: 48%;
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
}

.cert-item {
    width: 48%;
    margin-bottom: 3vmin;
}

.edu-text h4,
.cert-item h4 {
    margin: 2.5vmin 0 1.5vmin 0;
    padding: 0;
    font-size: 2vmin;
    font-weight: 700;
}

.edu-text p,
.cert-item p {
    margin: 0;
    padding: 0;
    line-height: 2.5vmin;
}

/*=============Contacts=============*/

.contacts {
    display: flex;
    padding: 3vmin 0;
}

.contacts-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts-heading {
    width: 48%;
}

.contacts h2 {
    color: #0a77f5;
    margin: 0 auto 0 0;
    padding: 0;
}

.text-contacts {
    width: 48%;
    margin-top: 3vmin;
}

.text-contacts a {
    text-decoration: none;
    color: black;
}

.text-contacts p {
    position: relative;
}

.text-contacts p {
    margin: 1vmin 0 2vmin 5vmin;
}

.text-contacts p::before {
    content: '';
    width: 2.75vmin;
    height: 2.75vmin;
    position: absolute;
    left: -5vmin;
    top: -0.3vmin;
}

.contact-mail::before {
    background: url('../pic/ic_mail.svg') 50% bottom no-repeat;
}

.contact-skype::before {
    background: url('../pic/ic_skype.svg') 50% bottom no-repeat;
}

.text-contacts .contact-viber::before {
    background: url('../pic/ic_viber.svg') 50% bottom no-repeat;
}

.contacts-heading .icons {
    width: 50vmin;
    height: 3.5vmin;
    margin: 2.5vmin 0 3vmin 0;
    text-align: left;
}

/*=============Mobile Navigation=============*/

.icon-mobile-nav {
    display: none;
    position: absolute;
    top: 8vmin;
    right: 8vmin;
    z-index: 2;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    width: 11vmin;
    height: 11vmin;
    padding: 2vmin;
}

.element-icon-nav {
    width: 11vmin;
    height: 1.25vmin;
    background-color: #0a77f5;
    margin: 1vmin 0;
    position: relative;
    top: 2vmin;
}

.mobile-nav {
    width: 0;
    position: fixed;
    z-index: 3;
    top: 8vmin;
    right: 5vmin;
    background-color: #0a77f5;
    overflow-x: hidden;
    padding-top: 20vmin;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    border: none;
}

.mobile-nav .close-btn {
    text-decoration: none;
    color: white;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 5vmin;
    font-size: 12vmin;
}

.mobile-nav-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.mobile-nav-links a {
    margin: 3vmin 5vmin 3vmin 5vmin;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 7vmin;
    color: white;
    display: block;
    transition: 0.3s;
    font-weight: 400;
}

.mobile-nav-links a:hover {
    color: #f1f1f1;
}

.icons-mobile-nav-footer {
    display: flex;
    margin: auto;
}

.icon-inst-white {
    background: url('http://simplecv.inspire.by/cv_blue_landing/pic/ic_inst_white.svg') no-repeat 50% 50%;
}

.icon-fb-white {
    background: url('http://simplecv.inspire.by/cv_blue_landing/pic/ic_fb_white.svg') no-repeat 50% 50%;
}

.icon-twit-white {
    background: url('http://simplecv.inspire.by/cv_blue_landing/pic/ic_twit_white.svg') no-repeat 50% 50%;
}

/*=============Modal Page Recent Works=============*/

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    background-color: #0a77f5;
    color: white;
    font-weight: 400;
    margin: auto;
    padding: 0;
    width: 80vmin;
}

.close-btn-modal {
    color: white;
    position: absolute;
    top: 3vmin;
    right: 9vmin;
    font-size: 7vmin;
    font-weight: 700;
}

.close-btn-modal:hover,
.close-btn-modal:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.modal-img {
    display: none;
    text-align: center;
}

.modal-img img {
    width: 100%;
}

.modal-img-prev,
.modal-img-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2.5vmin;
    margin-top: -5vmin;
    color: white;
    font-weight: 700;
    font-size: 3.5vmin;
    transition: 0.6s ease;
    border-radius: 0 1vmin 1vmin 0;
    user-select: none;
}

.modal-img-next {
    right: 0;
    border-radius: 1vmin 0 0 1vmin;
}

.modal-img-prev:hover,
.modal-img-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-img p {
    margin: auto;
    padding: 1.2vmin;
}

.modal-img p a {
    color: white;
    text-decoration: none;
}

/*=============Optimized CSS for tablet portrait orientation=============*/

@media (orientation: portrait) and (min-width: 651px) and (max-width: 1100px) {

    .nav-top {
        width: 100vmin;
    }

    .intro {
        flex-direction: column;
        height: 95.5vmax;
    }

    .photo {
        width: 30vmin;
        height: 30vmin;
        margin: 10vmin auto 3vmin auto;
    }

    .intro-photo-icons .icons {
        display: none;
    }

    .icons-tablet {
        display: block;
        margin: 3vmin auto 5vmin auto;
    }

    .text-heading {
        margin: 1vmin auto 3vmin auto;
        width: 60vmin;
        display: flex;
        flex-direction: column;
    }

    .text-heading h2 {
        margin: 2vmin auto;
    }

    .text-onepage {
        margin: 1vmin auto 3vmin auto;
        width: 60vmin;
    }

    .text-onepage p {
        margin: 1vmin auto 3vmin auto;
    }

    .container-cv-btn {
        margin: 1vmin auto 3vmin auto;
    }

    .about-container {
        flex-direction: column;
    }

    .recent-img {
        flex-direction: column;
    }

    .recent-img-big {
        width: 100%;
        margin: 0 0 0.5vmin 0;
    }

    .recent-img-small {
        width: 100%;
        margin: 0.5vmin 0 0.5vmin 0;
    }

    .skills-container {
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        margin: 0;
        padding-left: 9%;
        height: 50vmin;
    }

    .skills-tools,
    .skills-languages,
    .skills-skills {
        width: 35vmin;
        margin: 0;
        border-right: none;
    }

    .skills-tools {
        order: 2;
    }

    .skills-languages {
        order: 3;
    }

    .education h2 {
        width: 100%;
    }

    .edu-text {
        width: 100%;
    }

    .text-contacts {
        width: 35%;
        margin-top: 3vmin;
    }

    .contacts-heading .icons a {
        width: 3.25vmin;
        height: 3.25vmin;
    }
}

/*=============Optimized CSS for tablet landscape orientation=============*/

@media (orientation: landscape) and (min-width: 901px) and (max-width: 1400px) {

    .intro {
        height: 94vmin;
    }

    .photo {
        width: 35vmin;
        height: 35vmin;
    }

    .icons {
        width: 35vmin;
    }

    .about-container {
        flex-direction: column;
    }
}

/*=============Optimized CSS for mobile portrait orientation=============*/

@media (orientation: portrait) and (max-width: 650px) {

    h2 {
        font-weight: 400;
        font-size: 10vmin;
    }

    .nav-top {
        display: none;
    }

    .intro {
        height: auto;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .about p {
        line-height: 6vmin;
    }

    .about p:last-child {
        margin-bottom: 7vmin;
    }

    .photo {
        width: 45vmin;
        height: 45vmin;
        margin: 20vmin auto 5vmin auto;
    }

    .intro-photo-icons .icons {
        display: none;
    }

    .intro-text-cv .icons-tablet {
        display: block;
        margin: 10vmin auto 15vmin auto;
        width: auto;
    }

    .text-heading {
        font-size: 5.5vmin;
        max-width: none;
        display: flex;
        flex-direction: column;
        margin: 3vmin auto 3vmin auto;
    }

    .text-heading h2 {
        font-size: 8vmin;
        line-height: 5vmin;
        margin: 4vmin auto;
        font-weight: 100;
    }

    .text-onepage {
        margin: 3vmin auto 5vmin auto;
        width: 80vmin;
        max-width: none;
        max-height: none;
        overflow-x: visible;
    }

    .text-onepage p {
        font-size: 5vmin;
        line-height: 10vmin;
        margin: 3.5vmin 0;
    }

    .text-onepage-btn {
        line-height: 8.5vmin;
        padding: 0 4vmin;
    }

    .container-cv-btn {
        margin: 2vmin auto 2vmin auto;
        width: auto;
    }

    .cv-button-wide {
        height: 12vmin;
        width: 60vmin;
        padding: 3vmin 9vmin 1.5vmin 13vmin;
        font-size: 5vmin;
        background: #0a77f5 url('../pic/ic_arrow.svg') no-repeat 7vmin 50%;
        background-size: 4vmin;
        border-radius: 6vmin;
    }

    .cv-button-wide::before {
        border-radius: 6vmin;
    }

    .cv-button-wide:hover::before,
    .cv-button-wide:active::before {
        background-size: 4vmin;
    }

    .about {
        padding: 10vmin 0 0 0;
    }

    .about-container {
        flex-direction: column;
        width: 80vmin;
    }

    .about p {
        font-size: 5vmin;
        line-height: 6vmin;
    }

    .recent {
        height: auto;
    }

    .recent-container {
        width: 100%;
        height: auto;
    }

    .recent h2 {
        width: auto;
        margin: 7vmin auto 10vmin auto;
        font-size: 10vmin;
    }

    .recent-img {
        width: 94vmin;
        margin: auto;
        display: block;
    }

    .recent-img-big {
        width: 94vmin;
        height: 70vmin;
        margin: 0 0 2vmin 0;
        position: relative;
    }

    .recent-img-small {
        display: block;
        width: 94vmin;
        height: auto;
        margin: 0 0 2vmin 0;
        position: relative;
    }

    .recent-img-small-top {
        width: 94vmin;
        height: 70vmin;
        margin: 0 0 2vmin 0;
    }

    .recent-img-small-bottom-1 {
        width: 94vmin;
        height: 70vmin;
        margin: 0 0 2vmin 0;
    }

    .recent-img-small-bottom-2 {
        width: 94vmin;
        height: 70vmin;
        margin: 0 0 2vmin 0;
    }

    .icons-recent {
        margin-right: 4vmin;
    }

    .icons-recent p {
        font-size: 5vmin;
        line-height: 6vmin;
    }

    .skills-container {
        flex-wrap: nowrap;
        flex-direction: column;
        margin: 0 0 0 10vmin;
        width: 80vmin;
    }

    .skills div {
        border-right: none;
    }

    .skills h3 {
        margin: 0 auto 3vmin 0;
        line-height: 12.5vmin;
        font-size: 9vmin;
        font-weight: 400;
        padding: 0 2.75vmin 0 0;
    }

    .skills ul {
        font-size: 5vmin;
        line-height: 10vmin;
        margin: 0 auto 10vmin auto;
        padding: 0 2.75vmin 0 0;
    }

    .list-skills li::before,
    .list-languages li::before {
        width: 4vmin;
        height: 2vmin;
        left: -8vmin;
        top: 3vmin;
    }

    .list-tools li::before {
        width: 5.5vmin;
        height: 5.5vmin;
        left: -9vmin;
        top: 1.5vmin;
    }

    .exp-container,
    .edu-container,
    .cert-container {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 80vmin;
        font-size: 5vmin;
        line-height: 6vmin;
    }

    .exp-container div,
    .edu-container div,
    .cert-container div {
        width: 100%;
        margin-top: 2vmin;
    }

    .edu-text p,
    .cert-item p {
        line-height: 6vmin;
    }

    .exp-container h2,
    .edu-container h2,
    .cert-container h2,
    .contacts-container h2 {
        margin: 5vmin 0 3vmin 0;
    }

    .certificates h2 {
        padding-top: 7vmin;
    }

    .exp-container h4,
    .edu-container h4,
    .cert-container h4 {
        font-size: 5vmin;
        line-height: 6vmin;
    }

    .exp-time {
        margin-top: 6vmin;
    }

    .exp-feature:before {
        top: 1.5vmin;
    }

    .contacts-container {
        flex-wrap: nowrap;
        flex-direction: column;
        width: 80vmin;
        font-size: 5vmin;
        line-height: 6vmin;
    }

    .contacts-heading,
    .text-contacts {
        width: 100%;
    }

    .contacts-heading .icons {
        margin: 7vmin 0;
        width: 100%;
    }

    .text-contacts p::before {
        width: 5.5vmin;
        height: 5.5vmin;
        left: -7vmin;
        top: -1vmin;
    }

    .icons a,
    .icons-mobile-nav-footer a {
        width: 8vmin;
        height: 8vmin;
        margin: 0 2vmin;
    }

    .icon-mobile-nav {
        display: block;
        position: fixed;
    }

    .mobile-nav {
        height: 75%;
    }

    .modal-content {
        width: 100%;
        margin: auto 0 auto 0;
    }

    .modal-img p {
        font-size: 3.5vmin;
    }
}

/*=============Optimized CSS for mobile landscape orientation=============*/

@media (orientation: landscape) and (max-width: 900px) {

    h2 {
        font-weight: 400;
        font-size: 10vmin;
        line-height: 10vmin;
    }

    .nav-top {
        display: none;
    }

    .photo {
        width: 40vmin;
        height: 40vmin;
        margin: 12vmin 10vmin 9vmin 10vmin;
    }

    .icons {
        width: 7vmin;
        height: auto;
        margin: 2vmin auto auto auto;
    }

    .icons a,
    .icons-mobile-nav-footer a {
        width: 7vmin;
        height: 7vmin;
        margin: 2vmin 0;
    }

    .text-heading {
        margin: 10vmin 5vmin 3vmin 0;
        max-width: none;
    }

    .text-heading h2 {
        font-size: 10vmin;
        line-height: 14vmin;
        margin: 0 auto 2vmin 0;
        font-weight: 100;
        animation-name: appearance-min;
    }

    .text-onepage {
        margin: 0 5vmin 3vmin 0;
        max-width: none;
    }

    .text-onepage p {
        font-size: 5vmin;
        line-height: 11vmin;
    }

    .text-onepage-btn {
        padding: 0 4vmin;
        border-radius: 6vmin;
        line-height: 8.5vmin;
    }

    .text-onepage-btn::before {
        border-radius: 6vmin;
    }

    .container-cv-btn {
        margin: 2vmin 5vmin 8vmin 0;
        width: auto;
    }

    .cv-button-wide {
        height: 15vmin;
        width: 80vmin;
        padding: 3.5vmin 9vmin 3.5vmin 14vmin;
        font-size: 7vmin;
        background: #0a77f5 url('../pic/ic_arrow.svg') no-repeat 10vmin 50%; /*same color for background and border is made intentionally to prevent border shifting when hover effect applying to button*/
        background-size: 5vmin;
        border-radius: 8vmin;
    }

    .cv-button-wide::before {
        border-radius: 8vmin;
    }

    .cv-button-wide:hover::before,
    .cv-button-wide:active::before {
        background: white url('../pic/ic_arrow_blue.svg') no-repeat 10vmin 50%;
        background-size: 5vmin;
    }

    .about {
        padding: 10vmin 0 0 0;
    }

    .about-container {
        flex-direction: column;
        width: 80%;
    }

    .about p {
        font-size: 5vmin;
        line-height: 6vmin;
    }

    .recent-container {
        width: 80%;
    }

    .recent h2 {
        font-size: 10vmin;
    }

    .recent-img-big {
        margin: 0 0.5vmin 0 0;
    }

    .recent-img-small {
        margin: 0 0 0 0.5vmin;
    }

    .icons-recent {
        width: auto;
        margin: 5vmin 0 0 0.5vmin;
    }

    .icons-recent p {
        font-size: 5vmin;
        line-height: 6vmin;
    }

    .icons-recent a {
        margin: 0 1.5vmin;
    }

    .skills-container {
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        margin: 0;
        padding-left: 9%;
        height: auto;
        max-height: 150vmin;
    }

    .skills-tools,
    .skills-languages,
    .skills-skills {
        width: 45%;
        margin: 0 0 auto 0;
        border-right: none;
    }

    .skills-tools {
        order: 2;
    }

    .skills-languages {
        order: 3;
    }

    .skills h3 {
        margin: 0 auto 3vmin 0;
        line-height: 10vmin;
        font-size: 10vmin;
        font-weight: 400;
        padding: 0 2.75vmin 0 0;
    }

    .skills ul {
        font-size: 5vmin;
        line-height: 10vmin;
        margin: 0 auto 10vmin auto;
        padding: 0 2.75vmin 0 0;
    }

    .list-skills li::before,
    .list-languages li::before {
        width: 4vmin;
        height: 2vmin;
        left: -8vmin;
        top: 3vmin;
    }

    .list-tools li::before {
        width: 5.5vmin;
        height: 5.5vmin;
        left: -9vmin;
        top: 1.5vmin;
    }

    .exp-container,
    .edu-container,
    .cert-container,
    .contacts-container {
        width: 90%;
        margin: 0 auto;
        font-size: 5vmin;
        line-height: 6vmin;
    }

    .exp-container p,
    .contacts-container p {
        margin: 3vmin 0;
    }

    .exp-container div,
    .edu-container div,
    .cert-container div {
        width: 45%;
        margin: 4vmin 0 auto 0;
    }

    .edu-text p,
    .cert-item p {
        line-height: 6vmin;
    }

    .exp-container h2,
    .edu-container h2,
    .cert-container h2,
    .contacts-container h2 {
        margin: 5vmin 0 3vmin 0;
    }

    .certificates h2 {
        padding-top: 7vmin;
    }

    .exp-container h4,
    .edu-container h4,
    .cert-container h4 {
        font-size: 5vmin;
        line-height: 6vmin;
    }

    .exp-time {
        margin-top: 6vmin;
    }

    .exp-feature:before {
        top: 1.5vmin;
    }

    .contacts {
        margin-bottom: 5vmin;
    }

    .contacts-container p {
        line-height: 6vmin;
    }

    .contacts-heading .icons {
        margin: 6vmin 0;
        width: 100%;
        height: auto;
    }

    .text-contacts {
        margin: 3vmin 0 0 5vmin;
        width: 41.5%;
    }

    .text-contacts p::before {
        width: 5.5vmin;
        height: 5.5vmin;
        left: -7vmin;
        top: -1vmin;
    }

    .contacts .icons a {
        width: 7vmin;
        height: 7vmin;
        margin: 0 1vmin;
    }

    .icon-mobile-nav {
        display: block;
        right: 10vmin;
    }

    .icons-mobile-nav-footer a {
        width: 8vmin;
        height: 8vmin;
        margin: 0 1vmin;
    }

    .mobile-nav {
        height: 68vmin;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: fixed;
        top: 7vmin;
        right: 9vmin;
    }

    .mobile-nav-links {
        height: 50vmin;
        width: 150vmin;
        margin: auto;
    }

    .icons-mobile-nav-footer {
        display: flex;
        margin: 0 auto 5vmin auto;
    }

    .icon-mobile-nav {
        display: block;
        position: fixed;
    }

    .modal-content {
        width: 90vmin;
        margin: auto;
    }

    .modal-img p {
        font-size: 3.5vmin;
    }
}

/*=============Animations=============*/

@keyframes appearance {
    0% {
        transform: scale(1.3);

    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes appearance-min {
    0% {
        transform: scale(1.1);

    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes appearance-rotate {
    0% {
        transform: scale(1.3) rotate(-90deg);

    }
    100% {
        transform: scale(1) rotate(0);
        opacity: 1;
    }
}