<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="personal webpage">
    <meta name="keywords" content="cristtopher">
    <meta name="author" content="Cristtopher Quintana T. <cristtopher@protonmail.com>">
    <title>Cris</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- <link rel="shortcut icon" href="pic/favicon.ico" type="image/x-icon"> -->
    <!--FONT-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
    <div class="frame-scroll"></div>
    <div class="frame-scroll-top"></div>
    <div class="frame-scroll-bottom"></div>
    <div class="container-scroll" id="app">
        <!--MOBILE NAVIGATION-->
        <div id="id-mobile-nav" class="mobile-nav">
            <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
            <nav class="mobile-nav-links">
                <a href="{{ element.url }}" onclick="closeNav()" v-for="element in nav">{{ element.name }}</a>
            </nav>
            <div class="icons-mobile-nav-footer">
                <a class="icon-inst-white" href="index.html#"></a>
                <a class="icon-fb-white" href="index.html#"></a>
                <a class="icon-twit-white" href="index.html#"></a>
            </div>
        </div>
        <div class="icon-mobile-nav" onclick="openNav()">
            <div class="element-icon-nav"></div>
            <div class="element-icon-nav"></div>
            <div class="element-icon-nav"></div>
        </div>
        <main>
            <!--Navigation-->
            <nav class="nav-top">
                <a href="{{ element.url }}" v-for="element in nav">{{ element.name }}</a>
            </nav>
            <!--INTRO-->
            <div class="intro">
                <div class="intro-photo-icons">
                    <div class="photo"></div>
                    <div class="icons">
                        <a class="icon-inst" href="index.html#"></a>
                        <a class="icon-fb" href="index.html#"></a>
                        <a class="icon-twit" href="index.html#"></a>
                    </div>
                </div>
                <div class="intro-text-cv">
                    <div class="text-heading">
                        <h2>Hola,</h2>
                        <h2>Soy <span>{{ me.name }}</span></h2>
                        <h2>{{ me.title }}</h2>
                    </div>
                    <div class="text-onepage">
                        <p>For more then 7 years fashion is my passion.</p>
                        <p>I worked a lot with big enterprise applications and small start-ups.</p>
                        <p>I know well how to create perfect design for every needs.</p>
                        <p>Take a look at my <span class='text-onepage-btn'
                                onclick="openModal();currentImage(1)">proyectos</span>
                            You can hire me on <a class='text-onepage-btn' href="index.html#">Upwork</a></p>
                        <p>Feel free to contact me <a class='text-onepage-btn'
                                href="mailto:your.mail@example.com">your.mail@example.com</a></p>
                    </div>
                    <div class="container-cv-btn">
                        <a class="cv-button-wide" href="resume/resume_template.docx">Download CV</a>
                    </div>
                    <div class="icons icons-tablet">
                        <a class="icon-inst" href="index.html#"></a>
                        <a class="icon-fb" href="index.html#"></a>
                        <a class="icon-twit" href="index.html#"></a>
                    </div>
                </div>
            </div>
            <!--ABOUT-->
            <section id='id-about' class="about">
                <div class="about-container">
                    <h2>Acerca</h2>
                    <div class="text-about">
                        <p>{{ me.description }}</p>
                    </div>
                </div>
            </section>
            <!--RECENT WORKS-->
            <section id='id-recent' class="recent">
                <div class="recent-container">
                    <h2>Recent works</h2>
                    <div class="recent-img">
                        <div class="recent-img-big" onclick="openModal();currentImage(1)"></div>
                        <div class="recent-img-small">
                            <div class="recent-img-small-top" onclick="openModal();currentImage(2)"></div>
                            <div class="recent-img-small-bottom-1" onclick="openModal();currentImage(3)"></div>
                            <div class="recent-img-small-bottom-2" onclick="openModal();currentImage(4)"></div>
                        </div>
                    </div>
                    <div class="icons icons-recent">
                        <p>See more at:</p>
                        <a class="icon-behance" href="index.html#"></a>
                        <a class="icon-dribble" href="index.html#"></a>
                    </div>
                </div>
            </section>
            <!--SKILLS-->
            <section id='id-skills' class="skills">
                <div class="skills-container">
                    <div class="skills-tools">
                        <h3>tools</h3>
                        <ul class="list-tools">
                            <li class="list-tools-adobe">Photoshop, Illustrator</li>
                            <li class="list-tools-sketch">Sketch, Invision</li>
                            <li class="list-tools-ux">Balsamiq, Microsoft Visio</li>
                            <li class="list-tools-pm">Jira, Trello, Slack, RedPen, Basecamp</li>
                        </ul>
                    </div>
                    <div class="skills-skills">
                        <h3>skills</h3>
                        <ul class="list-skills">
                            <li>User experience</li>
                            <li>Visual design</li>
                            <li>Interaction design</li>
                            <li>Prototyping</li>
                            <li>Web & mobile apps design</li>
                            <li>Icons & illustrations</li>
                            <li>Branding</li>
                            <li>Visual guidelines and developers support</li>
                        </ul>
                    </div>
                    <div class="skills-languages">
                        <h3>languages</h3>
                        <ul class="list-languages">
                            <li>English - native</li>
                            <li>German - advanced spoken and written</li>
                        </ul>
                    </div>
                </div>
            </section>
            <!--EXPERIENCE-->
            <section id='id-experience' class="experience">
                <div class="exp-container">
                    <h2>Experience</h2>
                    <div>
                        <p class="exp-time">July-August 2017</p>
                        <h4>Advanced Application</h4>
                        <p>Shopping mobile application with gamification features</p>
                        <p class="exp-feature">Design concept</p>
                        <p class="exp-feature">Mobile app UI</p>
                    </div>
                    <div>
                        <p class="exp-time">May-June 2017</p>
                        <h4>MMOCubes</h4>
                        <p>Game Social Platform with modern design</p>
                        <p class="exp-feature">Design concept</p>
                        <p class="exp-feature">User interface design</p>
                        <p class="exp-feature">Design support, guidelines, cleanup</p>
                    </div>
                    <div>
                        <p class="exp-time">January-April 2017</p>
                        <h4>Infine, Inc</h4>
                        <p>DeepBlueBpm Workflow/BPM product</p>
                        <p class="exp-feature">UI audit of the application</p>
                        <p class="exp-feature">Landing page design</p>
                        <p class="exp-feature">Video overview</p>
                    </div>
                    <div>
                        <p class="exp-time">December 2015 - September 2016</p>
                        <h4>Visible Theta, LLC</h4>
                        <p>www.oneplus.io — broker event managing application</p>
                        <p class="exp-feature">UI/UX design</p>
                        <p class="exp-feature">visual guidelines</p>
                    </div>
                    <div>
                        <p class="exp-time">June 2014 - September 2016</p>
                        <h4>Imex Software GmbH, Austria</h4>
                        <p>Lead Designer on multiple projects</p>
                        <p class="exp-feature">web design</p>
                        <p class="exp-feature">mobile design</p>
                        <p class="exp-feature">UI</p>
                        <p class="exp-feature">UX</p>
                        <p class="exp-feature">visual design</p>
                        <p class="exp-feature">visual guidelines</p>
                        <p class="exp-feature">ensure consistent design implementation</p>
                    </div>
                    <div>
                        <p class="exp-time">July 2011 - June 2013</p>
                        <h4>EPIX Systems, U.S.</h4>
                        <p>UI Designer/Information architect on multiple projects</p>
                        <p class="exp-feature">web design</p>
                        <p class="exp-feature">mobile design</p>
                        <p class="exp-feature">UI</p>
                        <p class="exp-feature">UX</p>
                        <p class="exp-feature">visual design</p>
                        <p class="exp-feature">visual guidelines</p>
                        <p class="exp-feature">icons, illustrations</p>
                        <p class="exp-feature">printables</p>
                        <p class="exp-feature">infographic</p>
                    </div>
                </div>
            </section>
            <!--EDUCATION-->
            <section id='id-education' class="education">
                <div class="edu-container">
                    <h2>Education</h2>
                    <div class="edu-text">
                        <h4>BSc Psychology & Biology</h4>
                        <p>Yale University</p>
                        <p>New Haven, Connecticut, U.S.</p>
                        <p>2001-2005</p>
                    </div>
                </div>
            </section>
            <!--CERTIFICATES-->
            <section class="certificates">
                <div class="cert-container">
                    <h2>Certificates</h2>
                    <div class="cert-item">
                        <h4>Visual design</h4>
                        <p>College of Art And Design</p>
                        <p>online</p>
                        <p>2007-2008</p>
                    </div>
                    <div class="cert-item">
                        <h4>German</h4>
                        <p>Goethe Institut</p>
                        <p>Munich, Germany</p>
                        <p>2005-2006</p>
                    </div>
                    <div class="cert-item">
                        <h4>HTML/CSS (basic)</h4>
                        <p>EPIX Systems internal training</p>
                        <p>Newtown, Pennsylvania, U.S.</p>
                        <p>2012</p>
                    </div>
                    <div class="cert-item">
                        <h4>German with native speaker</h4>
                        <p>EPIX Systems internal training</p>
                        <p>Newtown, Pennsylvania, U.S.</p>
                        <p>2013</p>
                    </div>
                    <div class="cert-item">
                        <h4>Commercial Fashion Illustration</h4>
                        <p>online</p>
                        <p>2016</p>
                    </div>
                </div>
            </section>
            <!--CONTACTS-->
            <section id='id-contacts' class="contacts">
                <div class="contacts-container">
                    <div class="contacts-heading">
                        <h2>Contacts</h2>
                        <div class="icons">
                            <a class="icon-linkedin" href="index.html#"></a>
                            <a class="icon-behance" href="index.html#"></a>
                            <a class="icon-dribble" href="index.html#"></a>
                            <a class="icon-upwork" href="index.html#"></a>
                            <a class="icon-fb" href="index.html#"></a>
                            <a class="icon-inst" href="index.html#"></a>
                        </div>
                    </div>
                    <div class="text-contacts">
                        <p class="contact-mail"><a href="mailto:your.mail@example.com">your.mail@example.com</a></p>
                        <p class="contact-skype">masha.thompson</p>
                        <p class="contact-viber">+1-234-567-8900 (Viber, phone)</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <script>
        // Mobile Navigation
        function openNav() {
            document.getElementById("id-mobile-nav").style.width = "90%";
            document.getElementById("id-mobile-nav").style.border = "1px solid white";
        }

        function closeNav() {
            document.getElementById("id-mobile-nav").style.width = "0";
            document.getElementById("id-mobile-nav").style.border = "none";
        }

        // Modal

        function openModal() {
            document.getElementById('id-modal').style.display = "flex";
        }

        function closeModal() {
            document.getElementById('id-modal').style.display = "none";
        }

        var imgIndex = 1;
        showImage(imgIndex);

        function nextImg(n) {
            showImage(imgIndex += n);
        }

        function currentImage(n) {
            showImage(imgIndex = n);
        }

        function showImage(n) {
            var i;
            var images = document.getElementsByClassName("modal-img");
            if (n > images.length) {
                imgIndex = 1
            }
            if (n < 1) {
                imgIndex = images.length
            }
            for (i = 0; i < images.length; i++) {
                images[i].style.display = "none";
            }
            images[imgIndex - 1].style.display = "block";
        }
    </script>

    <script>
        new Vue({
            el: "#app",
            data() {
                return {
                    me: {
                        name: "Cristtopher Quintan T.",
                        title: "Desarrollador Fullstack",
                        description: "Padre de 2 hermosos hijos, apasionado por el desarrollo de soluciones de alto impacto. Curioso e inquieto con las nuevas tecnologías, capaz de analizar cada situación desde varios ángulos para obtener el mejor resultado. Disfruta la planificación y documentar cada aspecto, siempre enfocado y dado lo mejor de sí cada día."
                    },
                    nav: [{
                            name: "acerca",
                            url: "index.html#id-about"
                        },
                        {
                            name: "proyectos",
                            url: "index.html#id-recent"
                        },
                        {
                            name: "habilidades",
                            url: "index.html#id-skills"
                        },
                        {
                            name: "experiencia",
                            url: "index.html#id-experience"
                        },
                        {
                            name: "educación",
                            url: "index.html#id-education"
                        },
                        {
                            name: "contacto",
                            url: "index.html#id-contacts"
                        },
                    ]
                }
            }
        });
    </script>
</body>

</html>